In [2]:
names = ['Ali','Sara','Ahmed']
ages = [20,22,19]
marks = [85,90,78]

In [6]:
import pandas as pd
s = pd.Series([85,90,78], index=['Ali','Sara','Ahmed'])
t = pd.Series([80,90,95])

In [7]:
s

Ali      85
Sara     90
Ahmed    78
dtype: int64

In [8]:
t

0    80
1    90
2    95
dtype: int64

In [9]:
df = pd.DataFrame({
    'Name': ['Ali','Sara','Ahmed'],
    'Age': [22,25,19],
    'Marks': [85,90,78]
})

In [10]:
df

    Name  Age  Marks
0    Ali   22     85
1   Sara   25     90
2  Ahmed   19     78

In [14]:
df['Marks']

0    85
1    90
2    78
Name: Marks, dtype: int64

In [16]:
df[df['Marks']>=80]

   Name  Age  Marks
0   Ali   22     85
1  Sara   25     90

In [17]:
df = pd.read_csv('silver_prices_historical.csv')

In [18]:
df

,Date,Adj Close,Close,High,Low,Open,Volume,MA_50,MA_200,Daily_Return,Year,Month,Volatility_30d
0,2016-01-04,13.817000,13.817000,14.100000,13.817000,14.100000,27,NaN,NaN,NaN,2016,1,NaN
1,2016-01-05,13.949000,13.949000,13.949000,13.949000,13.949000,4,NaN,NaN,0.955345,2016,1,NaN
2,2016-01-06,13.957000,13.957000,14.065000,13.957000,14.000000,105,NaN,NaN,0.057348,2016,1,NaN
3,2016-01-07,14.335000,14.335000,14.340000,14.330000,14.335000,286,NaN,NaN,2.708320,2016,1,NaN
4,2016-01-08,13.908000,13.908000,14.060000,13.908000,14.060000,6,NaN,NaN,-2.978724,2016,1,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2519,2026-01-12,84.610001,84.610001,85.824997,82.000000,82.000000,575,60.35742,43.764615,7.258757,2026,1,76.402098
2520,2026-01-13,85.876999,85.876999,88.610001,84.589996,84.904999,341,61.10640,44.020780,1.497457,2026,1,74.927540
2521,2026-01-14,90.869003,90.869003,93.000000,88.705002,89.349998,470,61.96390,44.302840,5.812970,2026,1,75.756402
2522,2026-01-15,91.875999,91.875999,92.419998,86.129997,90.824997,390,62.84366,44.591430,1.108184,2026,1,75.449192
2523,2026-01-16,88.091003,88.091003,90.925003,86.195000,90.440002,390,63.66288,44.859390,-4.119679,2026,1,77.140974

In [19]:
#Pandas is a library for working with labelled, tabular data
# Series = one column
# DataFrame= full table

In [20]:
students = pd.DataFrame({
    'Student':['Ayesha','Bilal','Usman'],
    'Math':[78,85,90],
    'Science':[82,88,91]
})

In [22]:
#print the dataframe
#identify rows and columns
students

  Student  Math  Science
0  Ayesha    78       82
1   Bilal    85       88
2   Usman    90       91

In [24]:
#print only the names
students['Student']

0    Ayesha
1     Bilal
2     Usman
Name: Student, dtype: object

In [25]:
#print only the first row
students.loc[0]

Student    Ayesha
Math           78
Science        82
Name: 0, dtype: object

In [27]:
print(students[['Student','Math']])

  Student  Math
0  Ayesha    78
1   Bilal    85
2   Usman    90

In [28]:
#filter students scoring >85 in maths

In [29]:
#filter students scoring >80 in science

In [30]:
#students with maths <80

In [31]:
df

,Date,Adj Close,Close,High,Low,Open,Volume,MA_50,MA_200,Daily_Return,Year,Month,Volatility_30d
0,2016-01-04,13.817000,13.817000,14.100000,13.817000,14.100000,27,NaN,NaN,NaN,2016,1,NaN
1,2016-01-05,13.949000,13.949000,13.949000,13.949000,13.949000,4,NaN,NaN,0.955345,2016,1,NaN
2,2016-01-06,13.957000,13.957000,14.065000,13.957000,14.000000,105,NaN,NaN,0.057348,2016,1,NaN
3,2016-01-07,14.335000,14.335000,14.340000,14.330000,14.335000,286,NaN,NaN,2.708320,2016,1,NaN
4,2016-01-08,13.908000,13.908000,14.060000,13.908000,14.060000,6,NaN,NaN,-2.978724,2016,1,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2519,2026-01-12,84.610001,84.610001,85.824997,82.000000,82.000000,575,60.35742,43.764615,7.258757,2026,1,76.402098
2520,2026-01-13,85.876999,85.876999,88.610001,84.589996,84.904999,341,61.10640,44.020780,1.497457,2026,1,74.927540
2521,2026-01-14,90.869003,90.869003,93.000000,88.705002,89.349998,470,61.96390,44.302840,5.812970,2026,1,75.756402
2522,2026-01-15,91.875999,91.875999,92.419998,86.129997,90.824997,390,62.84366,44.591430,1.108184,2026,1,75.449192
2523,2026-01-16,88.091003,88.091003,90.925003,86.195000,90.440002,390,63.66288,44.859390,-4.119679,2026,1,77.140974

In [32]:
df.head() #to show the top 5 records

,Date,Adj Close,Close,High,Low,Open,Volume,MA_50,MA_200,Daily_Return,Year,Month,Volatility_30d
0,2016-01-04,13.817,13.817,14.100,13.817,14.100,27,NaN,NaN,NaN,2016,1,NaN
1,2016-01-05,13.949,13.949,13.949,13.949,13.949,4,NaN,NaN,0.955345,2016,1,NaN
2,2016-01-06,13.957,13.957,14.065,13.957,14.000,105,NaN,NaN,0.057348,2016,1,NaN
3,2016-01-07,14.335,14.335,14.340,14.330,14.335,286,NaN,NaN,2.708320,2016,1,NaN
4,2016-01-08,13.908,13.908,14.060,13.908,14.060,6,NaN,NaN,-2.978724,2016,1,NaN

In [34]:
df.head(2) #to display top 2 records

,Date,Adj Close,Close,High,Low,Open,Volume,MA_50,MA_200,Daily_Return,Year,Month,Volatility_30d
0,2016-01-04,13.817,13.817,14.100,13.817,14.100,27,NaN,NaN,NaN,2016,1,NaN
1,2016-01-05,13.949,13.949,13.949,13.949,13.949,4,NaN,NaN,0.955345,2016,1,NaN

In [35]:
df.tail() #for bottom 5 records

,Date,Adj Close,Close,High,Low,Open,Volume,MA_50,MA_200,Daily_Return,Year,Month,Volatility_30d
2519,2026-01-12,84.610001,84.610001,85.824997,82.000000,82.000000,575,60.35742,43.764615,7.258757,2026,1,76.402098
2520,2026-01-13,85.876999,85.876999,88.610001,84.589996,84.904999,341,61.10640,44.020780,1.497457,2026,1,74.927540
2521,2026-01-14,90.869003,90.869003,93.000000,88.705002,89.349998,470,61.96390,44.302840,5.812970,2026,1,75.756402
2522,2026-01-15,91.875999,91.875999,92.419998,86.129997,90.824997,390,62.84366,44.591430,1.108184,2026,1,75.449192
2523,2026-01-16,88.091003,88.091003,90.925003,86.195000,90.440002,390,63.66288,44.859390,-4.119679,2026,1,77.140974

In [36]:
df.tail(2)

,Date,Adj Close,Close,High,Low,Open,Volume,MA_50,MA_200,Daily_Return,Year,Month,Volatility_30d
2522,2026-01-15,91.875999,91.875999,92.419998,86.129997,90.824997,390,62.84366,44.59143,1.108184,2026,1,75.449192
2523,2026-01-16,88.091003,88.091003,90.925003,86.195000,90.440002,390,63.66288,44.85939,-4.119679,2026,1,77.140974

In [37]:
df.shape

(2524, 13)

In [38]:
df.columns

Index(['Date', 'Adj Close', 'Close', 'High', 'Low', 'Open', 'Volume', 'MA_50',
       'MA_200', 'Daily_Return', 'Year', 'Month', 'Volatility_30d'],
      dtype='object')

In [39]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2524 entries, 0 to 2523
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Date            2524 non-null   object
 1   Adj Close       2524 non-null   float64
 2   Close           2524 non-null   float64
 3   High            2524 non-null   float64
 4   Low             2524 non-null   float64
 5   Open            2524 non-null   float64
 6   Volume          2524 non-null   int64
 7   MA_50           2475 non-null   float64
 8   MA_200          2325 non-null   float64
 9   Daily_Return    2523 non-null   float64
 10  Year            2524 non-null   int64
 11  Month           2524 non-null   int64
 12  Volatility_30d  2494 non-null   float64
dtypes: float64(9), int64(3), object(1)
memory usage: 256.5+ KB

In [40]:
df.isnull().sum()

Date                0
Adj Close           0
Close               0
High                0
Low                 0
Open                0
Volume              0
MA_50              49
MA_200            199
Daily_Return        1
Year                0
Month               0
Volatility_30d     30
dtype: int64

In [42]:
df.duplicated().sum()

np.int64(0)