In [2]:
import pandas as pd

In [4]:
df = pd.read_csv('car_data.csv')

In [5]:
df.head()

,name,company,year,Price,kms_driven,fuel_type
0,Hyundai Santro Xing XO eRLX Euro III,Hyundai,2007,"80,000","45,000 kms",Petrol
1,Mahindra Jeep CL550 MDI,Mahindra,2006,"4,25,000",40 kms,Diesel
2,Maruti Suzuki Alto 800 Vxi,Maruti,2018,Ask For Price,"22,000 kms",Petrol
3,Hyundai Grand i10 Magna 1.2 Kappa VTVT,Hyundai,2014,"3,25,000","28,000 kms",Petrol
4,Ford EcoSport Titanium 1.5L TDCi,Ford,2014,"5,75,000","36,000 kms",Diesel

In [6]:
df.tail()

,name,company,year,Price,kms_driven,fuel_type
887,Ta,Tara,zest,"3,10,000",NaN,NaN
888,Tata Zest XM Diesel,Tata,2018,"2,60,000","27,000 kms",Diesel
889,Mahindra Quanto C8,Mahindra,2013,"3,90,000","40,000 kms",Diesel
890,Honda Amaze 1.2 E i VTEC,Honda,2014,"1,80,000",Petrol,NaN
891,Chevrolet Sail 1.2 LT ABS,Chevrolet,2014,"1,60,000",Petrol,NaN

In [7]:
df.shape

(892, 6)

In [8]:
df.columns

Index(['name', 'company', 'year', 'Price', 'kms_driven', 'fuel_type'], dtype='object')

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 892 entries, 0 to 891
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   name        892 non-null    object
 1   company     892 non-null    object
 2   year        892 non-null    object
 3   Price       892 non-null    object
 4   kms_driven  840 non-null    object
 5   fuel_type   837 non-null    object
dtypes: object(6)
memory usage: 41.9+ KB

In [10]:
df.isnull().sum()

name           0
company        0
year           0
Price          0
kms_driven    52
fuel_type     55
dtype: int64

In [11]:
df['Price']

0             80,000
1           4,25,000
2      Ask For Price
3           3,25,000
4           5,75,000
           ...
887         3,10,000
888         2,60,000
889         3,90,000
890         1,80,000
891         1,60,000
Name: Price, Length: 892, dtype: object

In [13]:
df[['Price','year']]

             Price  year
0           80,000  2007
1         4,25,000  2006
2    Ask For Price  2018
3         3,25,000  2014
4         5,75,000  2014
..             ...   ...
887       3,10,000  zest
888       2,60,000  2018
889       3,90,000  2013
890       1,80,000  2014
891       1,60,000  2014

[892 rows x 2 columns]

In [14]:
#select only price column
#select price and mileage columns
#select 3 columns of your choice

In [17]:
df['Price'] = pd.to_numeric(df['Price'], errors='coerce')

In [18]:
#Prices > 20000
df['Price'] > 20000

0      False
1      False
2      False
3      False
4      False
       ...
887    False
888    False
889    False
890    False
891    False
Name: Price, Length: 892, dtype: bool

In [19]:
df['Price']

0     NaN
1     NaN
2     NaN
3     NaN
4     NaN
       ..
887   NaN
888   NaN
889   NaN
890   NaN
891   NaN
Name: Price, Length: 892, dtype: float64

In [20]:
df = pd.read_csv('car_data.csv')

In [21]:
df.head()

,name,company,year,Price,kms_driven,Unnamed: 5,fuel_type
0,Hyundai Santro Xing XO eRLX Euro III,Hyundai,2007.00,80000.00,45000.00,NaN,Petrol
1,Mahindra Jeep CL550 MDI,Mahindra,2006.00,425000.00,40.00,NaN,Diesel
2,Maruti Suzuki Alto 800 Vxi,Maruti,2018.00,Ask For Price,22000.00,NaN,Petrol
3,Hyundai Grand i10 Magna 1.2 Kappa VTVT,Hyundai,2014.00,325000.00,28000.00,NaN,Petrol
4,Ford EcoSport Titanium 1.5L TDCi,Ford,2014.00,575000.00,36000.00,NaN,Diesel

In [22]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 892 entries, 0 to 891
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   name        892 non-null    object
 1   company     892 non-null    object
 2   year        892 non-null    object
 3   Price       892 non-null    object
 4   kms_driven  840 non-null    object
 5   Unnamed: 5  0 non-null      float64
 6   fuel_type   837 non-null    object
dtypes: float64(1), object(6)
memory usage: 48.9+ KB

In [25]:
df['Price'] = pd.to_numeric(df['Price'], errors='coerce')
df['kms_driven'] = pd.to_numeric(df['kms_driven'], errors='coerce')

In [26]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 892 entries, 0 to 891
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   name        892 non-null    object
 1   company     892 non-null    object
 2   year        892 non-null    object
 3   Price       857 non-null    float64
 4   kms_driven  838 non-null    float64
 5   Unnamed: 5  0 non-null      float64
 6   fuel_type   837 non-null    object
dtypes: float64(3), object(4)
memory usage: 48.9+ KB

In [27]:
df['Price']

0       80000.0
1      425000.0
2           NaN
3      325000.0
4      575000.0
         ...
887    310000.0
888    260000.0
889    390000.0
890    180000.0
891    160000.0
Name: Price, Length: 892, dtype: float64

In [29]:
df[df['Price'] > 20000]

,name,company,year,Price,kms_driven,Unnamed: 5,fuel_type
0,Hyundai Santro Xing XO eRLX Euro III,Hyundai,2007.00,80000.0,45000.0,NaN,Petrol
1,Mahindra Jeep CL550 MDI,Mahindra,2006.00,425000.0,40.0,NaN,Diesel
3,Hyundai Grand i10 Magna 1.2 Kappa VTVT,Hyundai,2014.00,325000.0,28000.0,NaN,Petrol
4,Ford EcoSport Titanium 1.5L TDCi,Ford,2014.00,575000.0,36000.0,NaN,Diesel
6,Ford Figo,Ford,2012.00,175000.0,41000.0,NaN,Diesel
...,...,...,...,...,...,...,...
887,Ta,Tara,zest,310000.0,NaN,NaN,NaN
888,Tata Zest XM Diesel,Tata,2018.00,260000.0,27000.0,NaN,Diesel
889,Mahindra Quanto C8,Mahindra,2013.00,390000.0,40000.0,NaN,Diesel
890,Honda Amaze 1.2 E i VTEC,Honda,2014.00,180000.0,NaN,NaN,NaN
891,Chevrolet Sail 1.2 LT ABS,Chevrolet,2014.00,160000.0,NaN,NaN,NaN

In [30]:
#filter the cars above 2018 model

In [31]:
df['year'] = pd.to_numeric(df['year'], errors='coerce')

In [32]:
df[df['year'] > 2018]

,name,company,year,Price,kms_driven,Unnamed: 5,fuel_type
86,Volkswagen Vento Highline Plus 1.5 Diesel AT,Volkswagen,2019.0,1200000.0,3600.0,NaN,Diesel
215,Mahindra Jeep MM 550 XDB,Mahindra,2019.0,390000.0,60.0,NaN,Diesel
220,Mahindra Jeep CL550 MDI,Mahindra,2019.0,379000.0,0.0,NaN,Diesel
302,Maruti Suzuki Swift VXi 1.2 ABS BS IV,Maruti,2019.0,610000.0,73.0,NaN,Petrol
364,Mahindra Jeep MM 550 XDB,Mahindra,2019.0,390000.0,60.0,NaN,Diesel
376,Mahindra Jeep CL550 MDI,Mahindra,2019.0,379000.0,0.0,NaN,Diesel
427,Nissan X Trail Select Variant,Nissan,2019.0,1200000.0,300.0,NaN,Diesel
485,Tata Tigor Revotron XZ,Tata,2019.0,650000.0,100.0,NaN,Diesel
508,Renault Kwid RXT,Renault,2019.0,370000.0,1000.0,NaN,Petrol
544,Hyundai Verna 1.6 SX VTVT AT,Hyundai,2019.0,900000.0,2000.0,NaN,Petrol
568,Maruti Suzuki Alto,Maruti,2019.0,265000.0,9800.0,NaN,Petrol
702,Ford Figo Petrol Titanium,Ford,2019.0,525000.0,0.0,NaN,Petrol
738,Hyundai Creta 1.6 SX,Hyundai,2019.0,1200000.0,0.0,NaN,Petrol
762,Tata Tiago Revotorq XZ,Tata,2019.0,568500.0,0.0,NaN,Petrol
763,Tata Nexon,Tata,2019.0,NaN,0.0,NaN,Petrol
822,Hyundai Venue,Hyundai,2019.0,NaN,7000.0,NaN,Diesel
836,Mahindra KUV100 K8 6 STR,Mahindra,2019.0,560000.0,2875.0,NaN,Petrol
838,Ford Endeavor 4x4 Thunder Plus,Ford,2019.0,2900000.0,9000.0,NaN,Diesel
843,Maruti Suzuki Alto 800 Lx,Maruti,2019.0,400000.0,1500.0,NaN,Petrol
847,Maruti Suzuki Alto AX,Maruti,2019.0,425000.0,1625.0,NaN,Petrol
848,Maruti Suzuki Alto 800 Lx,Maruti,2019.0,NaN,1500.0,NaN,Petrol
859,Toyota Innova 2.0 G1 Petrol 8seater,Toyota,2019.0,NaN,4000.0,NaN,Petrol

In [33]:
# cars above price 250000
#cars newer 2015 model
#cars with mileage less than 2000

In [35]:
# cars with price more than 50000 and year above 2018
df[(df['Price']>50000) & (df['year'] > 2018)]

,name,company,year,Price,kms_driven,Unnamed: 5,fuel_type
86,Volkswagen Vento Highline Plus 1.5 Diesel AT,Volkswagen,2019.0,1200000.0,3600.0,NaN,Diesel
215,Mahindra Jeep MM 550 XDB,Mahindra,2019.0,390000.0,60.0,NaN,Diesel
220,Mahindra Jeep CL550 MDI,Mahindra,2019.0,379000.0,0.0,NaN,Diesel
302,Maruti Suzuki Swift VXi 1.2 ABS BS IV,Maruti,2019.0,610000.0,73.0,NaN,Petrol
364,Mahindra Jeep MM 550 XDB,Mahindra,2019.0,390000.0,60.0,NaN,Diesel
376,Mahindra Jeep CL550 MDI,Mahindra,2019.0,379000.0,0.0,NaN,Diesel
427,Nissan X Trail Select Variant,Nissan,2019.0,1200000.0,300.0,NaN,Diesel
485,Tata Tigor Revotron XZ,Tata,2019.0,650000.0,100.0,NaN,Diesel
508,Renault Kwid RXT,Renault,2019.0,370000.0,1000.0,NaN,Petrol
544,Hyundai Verna 1.6 SX VTVT AT,Hyundai,2019.0,900000.0,2000.0,NaN,Petrol
568,Maruti Suzuki Alto,Maruti,2019.0,265000.0,9800.0,NaN,Petrol
702,Ford Figo Petrol Titanium,Ford,2019.0,525000.0,0.0,NaN,Petrol
738,Hyundai Creta 1.6 SX,Hyundai,2019.0,1200000.0,0.0,NaN,Petrol
762,Tata Tiago Revotorq XZ,Tata,2019.0,568500.0,0.0,NaN,Petrol
836,Mahindra KUV100 K8 6 STR,Mahindra,2019.0,560000.0,2875.0,NaN,Petrol
838,Ford Endeavor 4x4 Thunder Plus,Ford,2019.0,2900000.0,9000.0,NaN,Diesel
843,Maruti Suzuki Alto 800 Lx,Maruti,2019.0,400000.0,1500.0,NaN,Petrol
847,Maruti Suzuki Alto AX,Maruti,2019.0,425000.0,1625.0,NaN,Petrol

In [36]:
df['fuel_type'].value_counts()

fuel_type
Petrol    440
Diesel    395
LPG         2
Name: count, dtype: int64

In [37]:
df['company'].value_counts()

company
Maruti        235
Hyundai       145
Mahindra      100
Tata           74
Honda          61
Toyota         39
Chevrolet      35
Renault        34
Ford           31
Volkswagen     20
Skoda          13
Audi           11
Mini            8
Datsun          8
BMW             8
Mitsubishi      6
Mercedes        6
Nissan          6
Commercial      6
Force           4
Fiat            4
I               3
Hindustan       3
tata            3
Jaguar          2
Used            2
Sale            2
MARUTI          2
urgent          2
URJENT          1
Land            1
Yamaha          1
Jeep            1
Swift           1
selling         1
very            1
i               1
2012            1
Well            1
Volvo           1
all             1
7               1
9               1
scratch         1
sell            1
TATA            1
Any             1
Tara            1
Name: count, dtype: int64

In [38]:
df['fuel_type'].value_counts(normalize=True)

fuel_type
Petrol    0.525687
Diesel    0.471924
LPG       0.002389
Name: proportion, dtype: float64

In [43]:
#Price comparison by fuel type
df[df['fuel_type'] == 'Petrol']['Price'].mean()

np.float64(324181.56775700935)

In [44]:
df[df['fuel_type'] == 'Diesel']['Price'].mean()

np.float64(509849.3860103627)

In [45]:
df['Price'].mean()

np.float64(404688.5344224037)

In [51]:
'''
find all cars that satisfy following conditions:
1. price above average
2. year after 2017
3. fuel type is petrol
'''

avg_price = df['Price'].mean()

df[
    (df['Price'] > avg_price) &
    (df['year'] > 2017) &
    (df['fuel_type'] == 'Petrol')
]

,name,company,year,Price,kms_driven,Unnamed: 5,fuel_type
150,Hyundai Elite i20,Hyundai,2018.0,599999.0,21000.0,NaN,Petrol
302,Maruti Suzuki Swift VXi 1.2 ABS BS IV,Maruti,2019.0,610000.0,73.0,NaN,Petrol
406,Hyundai Elite i20 Sportz 1.2,Hyundai,2018.0,600000.0,7800.0,NaN,Petrol
544,Hyundai Verna 1.6 SX VTVT AT,Hyundai,2019.0,900000.0,2000.0,NaN,Petrol
702,Ford Figo Petrol Titanium,Ford,2019.0,525000.0,0.0,NaN,Petrol
711,Maruti Suzuki Baleno Zeta 1.2,Maruti,2018.0,690000.0,1000.0,NaN,Petrol
738,Hyundai Creta 1.6 SX,Hyundai,2019.0,1200000.0,0.0,NaN,Petrol
761,Tata Tiago Revotron XM,Tata,2018.0,430000.0,3500.0,NaN,Petrol
762,Tata Tiago Revotorq XZ,Tata,2019.0,568500.0,0.0,NaN,Petrol
836,Mahindra KUV100 K8 6 STR,Mahindra,2019.0,560000.0,2875.0,NaN,Petrol
847,Maruti Suzuki Alto AX,Maruti,2019.0,425000.0,1625.0,NaN,Petrol
874,Hyundai Elite i20,Hyundai,2018.0,510000.0,2100.0,NaN,Petrol

In [52]:
df.drop('Unnamed: 5', axis=1, inplace=True)

In [53]:
df

,name,company,year,Price,kms_driven,fuel_type
0,Hyundai Santro Xing XO eRLX Euro III,Hyundai,2007.0,80000.0,45000.0,Petrol
1,Mahindra Jeep CL550 MDI,Mahindra,2006.0,425000.0,40.0,Diesel
2,Maruti Suzuki Alto 800 Vxi,Maruti,2018.0,NaN,22000.0,Petrol
3,Hyundai Grand i10 Magna 1.2 Kappa VTVT,Hyundai,2014.0,325000.0,28000.0,Petrol
4,Ford EcoSport Titanium 1.5L TDCi,Ford,2014.0,575000.0,36000.0,Diesel
...,...,...,...,...,...,...
887,Ta,Tara,NaN,310000.0,NaN,NaN
888,Tata Zest XM Diesel,Tata,2018.0,260000.0,27000.0,Diesel
889,Mahindra Quanto C8,Mahindra,2013.0,390000.0,40000.0,Diesel
890,Honda Amaze 1.2 E i VTEC,Honda,2014.0,180000.0,NaN,NaN
891,Chevrolet Sail 1.2 LT ABS,Chevrolet,2014.0,160000.0,NaN,NaN