In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('test.csv')

In [3]:
df.head()

,name,company,year,Price,kms_driven,fuel_type
0,Hyundai Santro Xing XO eRLX Euro III,Hyundai,2007,80000,45000,Petrol
1,Mahindra Jeep CL550 MDI,Mahindra,2006,425000,40,Diesel
2,Maruti Suzuki Alto 800 Vxi,Maruti,2018,Ask For Price,22000,Petrol
3,Hyundai Grand i10 Magna 1.2 Kappa VTVT,Hyundai,2014,325000,28000,Petrol
4,Ford EcoSport Titanium 1.5L TDCi,Ford,2014,575000,36000,Diesel

In [4]:
df.tail()

                          name    company  year   Price kms_driven fuel_type
887                         Ta       Tara  zest  310000        NaN       NaN
888        Tata Zest XM Diesel       Tata  2018  260000      27000    Diesel
889         Mahindra Quanto C8   Mahindra  2013  390000      40000    Diesel
890   Honda Amaze 1.2 E i VTEC      Honda  2014  180000     Petrol       NaN
891  Chevrolet Sail 1.2 LT ABS  Chevrolet  2014  160000     Petrol       NaN

In [5]:
df.describe()

              name company  year          Price kms_driven fuel_type
count          892     892   892            892        840       837
unique         525      48    61            274        256         3
top     Honda City  Maruti  2015  Ask For Price      45000    Petrol
freq            13     235   117             35         30       440

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 892 entries, 0 to 891
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   name        892 non-null    object
 1   company     892 non-null    object
 2   year        892 non-null    object
 3   Price       892 non-null    object
 4   kms_driven  840 non-null    object
 5   fuel_type   837 non-null    object
dtypes: object(6)
memory usage: 41.9+ KB

In [7]:
df.shape

(892, 6)

In [8]:
df.columns

Index(['name', 'company', 'year', 'Price', 'kms_driven', 'fuel_type'], dtype='object')

In [11]:
df['Price'] = pd.to_numeric(df['Price'], errors='coerce')
df['kms_driven'] = pd.to_numeric(df['kms_driven'], errors='coerce')
df['year'] = pd.to_numeric(df['year'], errors='coerce')

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 892 entries, 0 to 891
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   name        892 non-null    object
 1   company     892 non-null    object
 2   year        842 non-null    float64
 3   Price       857 non-null    float64
 4   kms_driven  838 non-null    float64
 5   fuel_type   837 non-null    object
dtypes: float64(3), object(3)
memory usage: 41.9+ KB

In [15]:
df['Price']

0       80000.0
1      425000.0
2           NaN
3      325000.0
4      575000.0
         ...
887    310000.0
888    260000.0
889    390000.0
890    180000.0
891    160000.0
Name: Price, Length: 892, dtype: float64

In [16]:
df['Price_in_lacs'] = df['Price'] / 100000

In [17]:
df

,name,company,year,Price,kms_driven,fuel_type,Price_in_lacs
0,Hyundai Santro Xing XO eRLX Euro III,Hyundai,2007.0,80000.0,45000.0,Petrol,0.80
1,Mahindra Jeep CL550 MDI,Mahindra,2006.0,425000.0,40.0,Diesel,4.25
2,Maruti Suzuki Alto 800 Vxi,Maruti,2018.0,NaN,22000.0,Petrol,NaN
3,Hyundai Grand i10 Magna 1.2 Kappa VTVT,Hyundai,2014.0,325000.0,28000.0,Petrol,3.25
4,Ford EcoSport Titanium 1.5L TDCi,Ford,2014.0,575000.0,36000.0,Diesel,5.75
...,...,...,...,...,...,...,...
887,Ta,Tara,NaN,310000.0,NaN,NaN,3.10
888,Tata Zest XM Diesel,Tata,2018.0,260000.0,27000.0,Diesel,2.60
889,Mahindra Quanto C8,Mahindra,2013.0,390000.0,40000.0,Diesel,3.90
890,Honda Amaze 1.2 E i VTEC,Honda,2014.0,180000.0,NaN,NaN,1.80
891,Chevrolet Sail 1.2 LT ABS,Chevrolet,2014.0,160000.0,NaN,NaN,1.60

In [20]:
# create a column named car_age
df['car_age'] = 2026 - df['year']

In [21]:
df[['year','car_age']].head()

     year  car_age
0  2007.0     19.0
1  2006.0     20.0
2  2018.0      8.0
3  2014.0     12.0
4  2014.0     12.0

In [26]:
df = df.rename({'company':'manufacturer'}, axis=1)

In [29]:
df.columns

Index(['name', 'manufacturer', 'year', 'Price', 'kms_driven', 'fuel_type',
       'Price_in_lacs', 'car_age'],
      dtype='object')

In [31]:
#rename fuel_type to fuel
#rename kms_driven to mileage
df = df.rename({'fuel_type':'fuel'}, axis=1)
df = df.rename({'kms_driven':'mileage'}, axis=1)
df.head(1)

,name,manufacturer,year,Price,mileage,fuel,Price_in_lacs,car_age
0,Hyundai Santro Xing XO eRLX Euro III,Hyundai,2007.0,80000.0,45000.0,Petrol,0.8,19.0

In [33]:
df.sort_values(by='Price') #by default it is ascending sort

,name,manufacturer,year,Price,mileage,fuel,Price_in_lacs,car_age
851,Maruti Suzuki 800 Std BS III,Maruti,2000.0,30000.0,33400.0,Petrol,0.30,26.0
389,Maruti Suzuki Maruti 800 Std – Befo,Maruti,1995.0,30000.0,55000.0,Petrol,0.30,31.0
598,Tata Nano LX Special Edition,Tata,2010.0,32000.0,48008.0,Petrol,0.32,16.0
454,Tata Nano GenX XMA,Tata,2010.0,32000.0,44005.0,Petrol,0.32,16.0
553,Tata Indica V2 DLG,Tata,2005.0,35000.0,150000.0,Diesel,0.35,21.0
...,...,...,...,...,...,...,...,...
826,Renault Lodgy,Renault,2016.0,NaN,20000.0,Diesel,NaN,10.0
848,Maruti Suzuki Alto 800 Lx,Maruti,2019.0,NaN,1500.0,Petrol,NaN,7.0
854,Volkswagen Vento Highline Plus 1.5 Diesel,Volkswagen,2015.0,NaN,38900.0,Diesel,NaN,11.0
859,Toyota Innova 2.0 G1 Petrol 8seater,Toyota,2019.0,NaN,4000.0,Petrol,NaN,7.0
882,Maruti Suzuki Alto 800 Select Variant,Maruti,2015.0,NaN,70000.0,Petrol,NaN,11.0

In [34]:
#descending sort
df.sort_values(by='Price', ascending=False)

,name,manufacturer,year,Price,mileage,fuel,Price_in_lacs,car_age
562,Mahindra XUV500 W6,Mahindra,2014.0,8500003.0,45000.0,Diesel,85.00003,12.0
719,Audi A3 Cabriolet 40 TFSI,Audi,2015.0,3100000.0,12516.0,Petrol,31.00000,11.0
838,Ford Endeavor 4x4 Thunder Plus,Ford,2019.0,2900000.0,9000.0,Diesel,29.00000,7.0
510,Jaguar XE XE Portfolio,Jaguar,2016.0,2800000.0,8500.0,Petrol,28.00000,10.0
668,Audi Q5 2.0 TDI quattro Premium Plus,Audi,2014.0,2390000.0,34000.0,Diesel,23.90000,12.0
...,...,...,...,...,...,...,...,...
826,Renault Lodgy,Renault,2016.0,NaN,20000.0,Diesel,NaN,10.0
848,Maruti Suzuki Alto 800 Lx,Maruti,2019.0,NaN,1500.0,Petrol,NaN,7.0
854,Volkswagen Vento Highline Plus 1.5 Diesel,Volkswagen,2015.0,NaN,38900.0,Diesel,NaN,11.0
859,Toyota Innova 2.0 G1 Petrol 8seater,Toyota,2019.0,NaN,4000.0,Petrol,NaN,7.0
882,Maruti Suzuki Alto 800 Select Variant,Maruti,2015.0,NaN,70000.0,Petrol,NaN,11.0

In [35]:
df.sort_values(['fuel','Price'], ascending=[True,False])

,name,manufacturer,year,Price,mileage,fuel,Price_in_lacs,car_age
562,Mahindra XUV500 W6,Mahindra,2014.0,8500003.0,45000.0,Diesel,85.00003,12.0
838,Ford Endeavor 4x4 Thunder Plus,Ford,2019.0,2900000.0,9000.0,Diesel,29.00000,7.0
668,Audi Q5 2.0 TDI quattro Premium Plus,Audi,2014.0,2390000.0,34000.0,Diesel,23.90000,12.0
667,Jaguar XF 2.2 Diesel Luxury,Jaguar,2013.0,2190000.0,29000.0,Diesel,21.90000,13.0
232,Land Rover Freelander 2 SE,Land,2015.0,2100000.0,30000.0,Diesel,21.00000,11.0
...,...,...,...,...,...,...,...,...
798,7 SEATER MAHINDRA BOLERO IN VERY GOOD,7,NaN,NaN,NaN,NaN,NaN,NaN
799,9 SEATER MAHINDRA BOL,9,NaN,NaN,NaN,NaN,NaN,NaN
807,Hyunda,Hyundai,NaN,NaN,NaN,NaN,NaN,NaN
808,Commercial Maruti Suzuki Alto Lxi 800,Commercial,NaN,NaN,NaN,NaN,NaN,NaN
811,tata,tata,NaN,NaN,NaN,NaN,NaN,NaN

In [37]:
#display the 5 newest cars in the dataset
df.sort_values(by='year', ascending=False).head()

,name,manufacturer,year,Price,mileage,fuel,Price_in_lacs,car_age
302,Maruti Suzuki Swift VXi 1.2 ABS BS IV,Maruti,2019.0,610000.0,73.0,Petrol,6.10,7.0
843,Maruti Suzuki Alto 800 Lx,Maruti,2019.0,400000.0,1500.0,Petrol,4.00,7.0
847,Maruti Suzuki Alto AX,Maruti,2019.0,425000.0,1625.0,Petrol,4.25,7.0
848,Maruti Suzuki Alto 800 Lx,Maruti,2019.0,NaN,1500.0,Petrol,NaN,7.0
86,Volkswagen Vento Highline Plus 1.5 Diesel AT,Volkswagen,2019.0,1200000.0,3600.0,Diesel,12.00,7.0

In [38]:
#groupby()
df.groupby('fuel')['Price'].mean()

fuel
Diesel    509849.386010
LPG       205000.000000
Petrol    324181.567757
Name: Price, dtype: float64

In [39]:
df.groupby('fuel')['Price'].min()

fuel
Diesel     35000.0
LPG       120000.0
Petrol     30000.0
Name: Price, dtype: float64

In [40]:
df.groupby('fuel')['Price'].max()

fuel
Diesel    8500003.0
LPG        290000.0
Petrol    3100000.0
Name: Price, dtype: float64

In [43]:
df.groupby('fuel')['Price'].agg(['mean','min','max'])

                 mean       min        max
fuel
Diesel  509849.386010   35000.0  8500003.0
LPG     205000.000000  120000.0   290000.0
Petrol  324181.567757   30000.0  3100000.0

In [44]:
df.columns

Index(['name', 'manufacturer', 'year', 'Price', 'mileage', 'fuel',
       'Price_in_lacs', 'car_age'],
      dtype='object')

In [45]:
df.groupby(['fuel','manufacturer'])['Price'].mean()

fuel    manufacturer
Diesel  Audi            1.535429e+06
        BMW             1.109800e+06
        Chevrolet       2.379761e+05
        Fiat            1.695000e+05
        Force           5.725000e+05
        Ford            5.694210e+05
        Hindustan       8.000000e+04
        Honda           3.721329e+05
        Hyundai         4.312962e+05
        Jaguar          2.190000e+06
        Jeep            9.500000e+05
        Land            2.100000e+06
        Mahindra        6.112294e+05
        Maruti          3.923448e+05
        Mercedes        1.612500e+06
        Mitsubishi      1.541250e+06
        Nissan          7.099997e+05
        Renault         4.982763e+05
        Skoda           2.512764e+05
        Tata            2.019200e+05
        Toyota          7.104999e+05
        Volkswagen      4.307690e+05
        Volvo           1.850000e+06
LPG     Maruti          2.050000e+05
Petrol  Audi            1.374500e+06
        BMW             9.500000e+05
        Chevrolet       1.441077e+05
        Datsun          2.557140e+05
        Fiat            9.000000e+04
        Ford            3.249998e+05
        Hindustan       7.500000e+05
        Honda           3.394663e+05
        Hyundai         2.911874e+05
        Jaguar          2.800000e+06
        Mahindra        3.566667e+05
        Maruti          2.244239e+05
        Mercedes        9.497502e+05
        Mini            1.891111e+06
        Mitsubishi      8.125000e+05
        Nissan          2.113330e+05
        Renault         3.424998e+05
        Skoda           2.510000e+05
        Tata            1.976703e+05
        Toyota          2.918748e+05
        Volkswagen      3.558330e+05
Name: Price, dtype: float64

In [46]:
df = pd.read_excel('employee.xlsx')
df.head()

   Serial  Emp_ID Designation Department   Age    Salary
0       1    1101     Manager   Accounts  50.0  200000.0
1       2    1107     Officer         IT  30.0   80000.0
2       3    1203     Officer         HR  28.0       NaN
3       4    1005     Manager         HR  45.0  120000.0
4       5    2123  Office Boy   Accounts  27.0   45000.0

In [49]:
#Which department pays the highest average salary

In [50]:
#What is the average salary of each designation

In [56]:
#How many employees are there in each department
df.groupby('Department')['Emp_ID'].count()

Department
Account       2
Accounts      6
HR            3
IT            6
Production    7
Name: Emp_ID, dtype: int64

In [52]:
#Show min, max, avg salary of each department

In [54]:
#Find the department with the single highest salary
df.groupby('Department')['Salary'].max().sort_values(ascending=False)

Department
Accounts      200000.0
Account       123000.0
HR            120000.0
IT            100000.0
Production    100000.0
Name: Salary, dtype: float64

In [55]:
#What is the avg age of each designation
df.groupby('Designation')['Age'].mean()

Designation
Accountant    44.000000
Engineer      45.000000
Manager       40.750000
Office Boy    27.000000
Officer       27.444444
Name: Age, dtype: float64

In [57]:
#Which designation earns the most on average

In [58]:
#WHich department has the youngest employees on average

In [59]:
#Is management generally older than the officers